<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Kelly+Slab|Poiret+One|Amaranth" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  {{> header}}
  {{> nav}}
  {{#if showMessage}}
  <p>{{message}}</p>
  {{else}}
  <p></p>
  {{/if}}

  <form action="/products/new" method="get">
    <button class="AddItem" type="submit">Add a Product</button>
  </form>

  {{#each products}}
  <div class="content">
    <div>{{name}}</div>
    <div>{{price}}</div>
    <div>{{inventory}}</div>
    <div>{{id}}</div>
    <div class="optionButtons">
      <button class="optionButton" onclick="location.href='/products/{{id}}'">View</button>
      <form action="/products/{{id}}/edit" method="get">
        <button class="optionButton" type="submit">Edit</button>
      </form>
      <form action="/products/{{id}}?_method=DELETE" method="post">
        <button class="optionButton" type="submit">Delete</button>
      </form>
    </div>
  </div>
  {{/each}}
</body>

</html>