<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Kelly+Slab|Poiret+One|Amaranth" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  {{> header}}
  {{> nav}}

  {{#if showMessage}}
  <p>{{message}}</p>
  {{else}}
  <p></p>
  {{/if}}

  <div class="detailBox">
    <div class="detailRow">
      <p class="attribute">Name:</p>
      <p class="detail">{{name}}</p>
    </div>
    <div class="detailRow">
      <p class="attribute">Price:</p>
      <p class="detail">{{price}}</p>
    </div>
    <div class="detailRow">
      <p class="attribute">Inventory:</p>
      <p class="detail">{{inventory}}</p>
    </div>
    <div class="detailRow">
      <p class="attribute">ID:</p>
      <p class="detail">{{id}}</p>
    </div>
  </div>

  <form action="/products/{{id}}/edit" method="get">

    <div class="button">
      <button class="EditItem" type="submit">Edit</button>
    </div>
  </form>

  <form action="/products/{{id}}?_method=DELETE" method="post">

    <div class="button">
      <button class="EditItem" type="submit">Delete</button>
    </div>
  </form>
</body>

</html>